.site-header {
    display: none;
    &--is-visible {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        @mixin atMedium {
            height: 100vh;
            width: 25%;
        }
        opacity: 1;
        transform: scale(1);
        z-index: 1;
        background: url('./assets/images/bgg.jpg') no-repeat center;
        background-size: cover;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;        

        li {

            @mixin forSmall {
                margin: .6rem 0;
            }

            @mixin atMedium {
                margin: 1.2rem;
            }

            a {
                color: $white;
                text-decoration: none;
        
                &:hover {
                    color: $lightgold;
                }
            }
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 10;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transform-origin: 0 0; /*top left point*/
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &--hide {
        display: none;
    }
}