.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/images/background.webp') no-repeat center;
    background-size: cover;
    height: 60vh;
    @mixin atMedium {
        height: 100vh;
    }

    &__all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba($black, 0.7);
        margin: 2rem;
        padding: 1rem;

        @mixin atMedium {
            margin: 10rem;
            padding: 2.5rem;
        }
    }

    &__title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 100;
        color: $lightgold;
        @mixin atMedium {
            font-size: 3rem;
        }
    }

    img {
        width: 270px;
        @mixin atMedium {
            width: 450px;
        }
        transition: transform .3 ease-out;
        animation: upDown 1500ms infinite;
    }

    @keyframes upDown {
        0% {
            transform: translateX(-1rem)
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateX(-1rem);
        }
    }

    p {
        align-self: flex-end;
        margin-right: 20px;
        @mixin atMedium {
            display: none;
        }
    }
}