.services {
    background: $black;

    &__title {
        color: $lightgold;
        margin-bottom: 4rem;
    }
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }

        div {
            @mixin forSmall {
                margin-bottom: 2rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h3 {
        font-size: 1.2rem;
        @mixin atMedium {
            font-size: 1.3rem;
        }
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        color: $lightgold;
    }

    p {
        margin: 0 .5rem;
        color: $lightwhite;
    }

    img {
        border-radius: 10px;
    }
}